<%- include("partials/header.ejs") %>
<h1>ABOUT US</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit odio, animi provident dignissimos dolor cupiditate ipsum? Rem, commodi. Aut sit minus distinctio harum officia eligendi vero molestias reprehenderit id voluptate?
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam beatae eaque obcaecati rem necessitatibus voluptates, repellendus similique eum accusantium, quo perspiciatis numquam debitis, aspernatur culpa ab dolorem. Accusamus, possimus culpa!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus voluptas perferendis libero debitis id cum quia ad repudiandae eligendi provident quidem deserunt recusandae architecto dolorum, voluptatum rerum fugit assumenda consectetur?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, ab itaque, labore harum neque fugiat, quos aut quasi fuga dolores dolor. Quae repellendus laudantium error ipsam quaerat rerum deserunt ad?
</p>
<%-include("partials/footer.ejs")  %>