<%- include("partials/header.ejs") %>
<h1>CONTACT US</h1>
<div class="container text-center" id="contact-cont">
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-light"> <i class="fa-brands fa-github fa-6x" ></i></button>
<h4 id="g">GitHub</h4>
      </div>
      <div class="col">
        <button type="button" class="btn btn-light"> <i class="fa-brands fa-linkedin fa-6x"></i></button>
<h4 id="l">Linkedin</h4>
      </div>
      <div class="col">
        <button type="button" class="btn btn-light"> <i class="social-icon fas fa-envelope fa-6x"></i></button>
        <h4 id="e">Email</h4>
      </div>
    </div>
  </div>






<%-include("partials/footer.ejs")  %>